.zoom-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.zoom-controls i {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.zoom-controls i:hover {
    color: #000;
    background-color: #f9f9f9;
}
#flow-visualize {
    transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
}

#flow-visualize.zoom-in {
    transform: scale(var(--scale-factor, 1.5));
}

#flow-visualize.zoom-out {
    transform: scale(var(--scale-factor, 0.5));
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    /* max-width: 100%; */
    width: 30vw;
  }

  .popup.active {
    display: block;
    opacity: 1;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .popup-header h2 {
    margin: 0;
  }

  .popup-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    width: 30px !important;
  }

  .popup button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    pointer-events: auto !important;
  }

  .popup button:hover {
    background-color: #333;
    color: #fff;
  }

  .popup button:last-child {
    margin-bottom: 0;
  }

  .disabled-button {
    cursor: not-allowed !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

  #suggestionList li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #suggestionList li:hover {
    border-style: dashed;
    border-color: #000;
  }
  
  /* modal */
  /* Style for input box */
input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 10px;
}

/* Style for radio buttons */
input[type=radio] {
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

/* Style for radio button labels */
label[for=zero-based], label[for=one-based] {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 10px;
}
.button-delete{
  background-color: rgb(229, 65, 65) !important;
}
  